# Data Preparation

#### Parsing the json **nyc_geo.json** into the dataframe with the following columns:
- Borough
- Neighborhood
- Latitude
- Longitude

In [1]:
import pandas as pd

In [2]:
import json
f = open('nyc_geo.json')
data = json.load(f)

In [3]:
data['features'][0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

In [4]:
geo_list = []
for i in data['features']:
    feature_dict = {'borough': i['properties']['borough'],
                    'neighborhood': i['properties']['name'], 
                    'lat': i['geometry']['coordinates'][1],
                    'long': i['geometry']['coordinates'][0],}
                    # 'bbox': i['properties']['bbox']}
    geo_list.append(feature_dict)
    
    
geo_df = pd.DataFrame(geo_list)

geo_df[geo_df.lat > 44]

Empty DataFrame
Columns: [borough, neighborhood, lat, long]
Index: []

In [5]:
geo_df.borough.value_counts()

Queens           81
Brooklyn         70
Staten Island    63
Bronx            52
Manhattan        40
Name: borough, dtype: int64

In [6]:
brooklyn = geo_df[geo_df['borough'] == 'Brooklyn']
bronx = geo_df[geo_df['borough'] == 'Bronx']
queens = geo_df[geo_df['borough'] == 'Queens']
staten_island = geo_df[geo_df['borough'] == 'Staten Island']
manhattan = geo_df[geo_df['borough'] == 'Manhattan']

In [37]:
bboxs = {'brooklyn' : [brooklyn.lat.min(), brooklyn.lat.max(), brooklyn.long.min(), brooklyn.long.max()],
         'bronx' : [bronx.lat.min(), bronx.lat.max(), bronx.long.min(), bronx.long.max()],
         'queens' : [queens.lat.min(), queens.lat.max(), queens.long.min(), queens.long.max()],
         'staten_island' : [staten_island.lat.min(), staten_island.lat.max(), staten_island.long.min(), staten_island.long.max()],
         'manhattan' : [manhattan.lat.min(), manhattan.lat.max(), manhattan.long.min(), manhattan.long.max()]
        }

In [38]:
bboxs

{'brooklyn': [40.57429256471601,
  40.7302009848647,
  -74.03197914537984,
  -73.86797598081334],
 'bronx': [40.801663627756206,
  40.90854282950666,
  -73.9261020935813,
  -73.78648845267413],
 'queens': [40.55740128845452,
  40.79278140360048,
  -73.95386782130745,
  -73.70884705889246],
 'staten_island': [40.50533376115642,
  40.6449815710044,
  -74.24656934235283,
  -74.06667766061771],
 'manhattan': [40.70710710727048,
  40.87655077879964,
  -74.01686930508617,
  -73.91065965862981]}

#### The bounding box provided in 'nyc_geo.json' is not sufficient I'm going to parse the data to create a new oe   
---

#### Can use 'geo_df' data frame to reference neighborhood if neccesary for development
#### But I will manipulate the dataframe into 5 boroughs with list of coordinates associated

In [8]:
def make_list(things):
    thing_list = []
    for thing in things:
        thing_list.append(thing)
    return thing_list

In [9]:
boroughs = geo_df.groupby(['borough', 'lat', 'long']).size()

In [10]:
boroughs.Bronx[:5]

lat        long
40.801664  -73.913221    1
40.806239  -73.916100    1
40.806551  -73.854144    1
40.809730  -73.883315    1
40.815099  -73.895788    1
dtype: int64

---
#### Using different data for NYC_Open_Data to collect information about the neigborhoods that can be used for segmentation.
<br>
* Retrieved csv files of Arrests, Air Quality, and Evictions reported in the 5 boroughs of NYC in 2022
<br>
<br>
* It may be interesting to find some coorelation between these features if any.

In [11]:
arrest_df = pd.read_csv('NYPD_Arrest_Data__Year_to_Date_.csv')
arrest_df.head(2)

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,238859078,01/09/2022,NaN,(null),NaN,(null),PL 2650022,M,B,49,0,25-44,M,BLACK HISPANIC,1021536,251417,40.856680,-73.865212,POINT (-73.865212 40.85668)
1,239923883,01/31/2022,NaN,(null),NaN,(null),CPL5700600,9,Q,113,3,25-44,M,BLACK,1046367,186986,40.679701,-73.776047,POINT (-73.77604735 40.67970059)

In [12]:
air_df = pd.read_csv('Air_Quality.csv')
air_df.head(2)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64,NaN
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22,NaN

In [13]:
eviction_df = pd.read_csv('Evictions.csv')
eviction_df.head(2)

,Court Index Number,Docket Number,Eviction Address,Eviction Apartment Number,Executed Date,Marshal First Name,Marshal Last Name,Residential/Commercial,BOROUGH,Eviction Postcode,Ejectment,Eviction/Legal Possession,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,70491/17,169289,120 ALDRICH ST.,16F,10/10/2018,Alfred,Locascio,Residential,BRONX,10475,Not an Ejectment,Possession,40.870146,-73.831665,10.0,12.0,46201.0,2128836.0,2.051410e+09,Co-op City
1,55498/18A,487863,3041 HOLLAND AVENUE,UNIT 55N,06/19/2019,Danny,Weinheim,Residential,BRONX,10467,Not an Ejectment,Possession,40.870179,-73.865262,12.0,15.0,338.0,2055590.0,2.045690e+09,Bronxdale

---
#### EDA

In [14]:
#### Dropping Unnessesary Columns from arrest dataframe
arrest_df.drop(['ARREST_KEY', 'PD_CD', 'KY_CD', 'LAW_CODE', 'ARREST_PRECINCT', 'JURISDICTION_CODE', 'X_COORD_CD', 'Y_COORD_CD'], axis=1, inplace=True)

In [15]:
arrest_df.head(5)

,ARREST_DATE,PD_DESC,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,New Georeferenced Column
0,01/09/2022,(null),(null),M,B,25-44,M,BLACK HISPANIC,40.856680,-73.865212,POINT (-73.865212 40.85668)
1,01/31/2022,(null),(null),9,Q,25-44,M,BLACK,40.679701,-73.776047,POINT (-73.77604735 40.67970059)
2,01/25/2022,RAPE 3,RAPE,F,K,25-44,M,BLACK,40.664121,-73.947765,POINT (-73.9477648403751 40.664121282631)
3,03/03/2022,RAPE 1,RAPE,F,K,18-24,M,BLACK,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)
4,02/22/2022,RAPE 1,RAPE,F,B,45-64,M,BLACK,40.816206,-73.896001,POINT (-73.8960011932583 40.8162058439227)

In [16]:
arrest_df.isnull().sum()

ARREST_DATE                    0
PD_DESC                        0
OFNS_DESC                      0
LAW_CAT_CD                  1362
ARREST_BORO                    0
AGE_GROUP                      0
PERP_SEX                       0
PERP_RACE                      0
Latitude                       0
Longitude                      0
New Georeferenced Column       0
dtype: int64

## Lets take a look at the top 20 crimes within all boroughs

In [17]:
arrest_df.groupby('OFNS_DESC').size().sort_values(ascending=False).head(20)

OFNS_DESC
ASSAULT 3 & RELATED OFFENSES      23188
PETIT LARCENY                     15288
FELONY ASSAULT                    14190
MISCELLANEOUS PENAL LAW            9327
CRIMINAL MISCHIEF & RELATED OF     7717
DANGEROUS DRUGS                    7686
ROBBERY                            7310
GRAND LARCENY                      6432
DANGEROUS WEAPONS                  6011
BURGLARY                           4731
VEHICLE AND TRAFFIC LAWS           4668
OFFENSES AGAINST PUBLIC ADMINI     4203
OFFENSES INVOLVING FRAUD           3627
SEX CRIMES                         3192
OFF. AGNST PUB ORD SENSBLTY &      2938
FORGERY                            2795
POSSESSION OF STOLEN PROPERTY      1869
INTOXICATED & IMPAIRED DRIVING     1813
OTHER OFFENSES RELATED TO THEF     1804
FOR OTHER AUTHORITIES              1362
dtype: int64

#### Removing Null Values

In [18]:
arrest_df.PD_DESC.replace({'(null)': None}, inplace=True)
arrest_df.OFNS_DESC.replace({'(null)': None}, inplace=True)

In [19]:
arrest_df.dropna(inplace=True)

In [20]:
arrest_df.PD_DESC.value_counts().head(10)

ASSAULT 3                                    16877
LARCENY,PETIT FROM OPEN AREAS,               15230
ASSAULT 2,1,UNCLASSIFIED                     10476
ROBBERY,OPEN AREA UNCLASSIFIED                7270
PUBLIC ADMINISTRATION,UNCLASSI                6439
LARCENY,GRAND FROM OPEN AREAS, UNATTENDED     5554
TRAFFIC,UNCLASSIFIED MISDEMEAN                4397
BURGLARY,UNCLASSIFIED,UNKNOWN                 4244
MENACING,UNCLASSIFIED                         4052
CONTROLLED SUBSTANCE, POSSESSI                3670
Name: PD_DESC, dtype: int64

In [ ]:
arrest_df.head(1)

,ARREST_DATE,PD_DESC,OFNS_DESC,LAW_CAT_CD,ARREST_BORO,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,New Georeferenced Column
2,01/25/2022,RAPE 3,RAPE,F,K,25-44,M,BLACK,40.664121,-73.947765,POINT (-73.9477648403751 40.664121282631)

In [ ]:
def borough_finder(lat, long):
    for i in bboxs:

{'brooklyn': [<bound method NDFrame._add_numeric_operations.<locals>.min of 46     40.625801
  47     40.611009
  48     40.645103
  49     40.730201
  50     40.595260
           ...
  283    40.703176
  289    40.598525
  295    40.681999
  296    40.609378
  300    40.646926
  Name: lat, Length: 70, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 46     40.625801
  47     40.611009
  48     40.645103
  49     40.730201
  50     40.595260
           ...
  283    40.703176
  289    40.598525
  295    40.681999
  296    40.609378
  300    40.646926
  Name: lat, Length: 70, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.min of 46    -74.030621
  47    -73.995180
  48    -74.010316
  49    -73.954241
  50    -73.973471
           ...
  283   -73.988753
  289   -73.959185
  295   -73.890346
  296   -73.948415
  300   -73.948177
  Name: long, Length: 70, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 46    -74.030621
  47    -73.995180
  48    -74.010316
  49    -73.954241
  50    -73.973471
           ...
  283   -73.988753
  289   -73.959185
  295   -73.890346
  296   -73.948415
  300   -73.948177
  Name: long, Length: 70, dtype: float64>],
 'bronx': [<bound method NDFrame._add_numeric_operations.<locals>.min of 0      40.894705
  1      40.874294
  2      40.887556
  3      40.895437
  4      40.890834
  5      40.881687
  7      40.898273
  8      40.877224
  9      40.881039
  10     40.866858
  11     40.857413
  12     40.847247
  13     40.870185
  14     40.855727
  15     40.847898
  16     40.860997
  17     40.842696
  18     40.839475
  19     40.836623
  20     40.819754
  21     40.806239
  22     40.801664
  23     40.815099
  24     40.809730
  25     40.823592
  26     40.821012
  27     40.806551
  28     40.815109
  29     40.844246
  30     40.837938
  31     40.840619
  32     40.843608
  33     40.847549
  34     40.857277
  35     40.881395
  36     40.908543
  37     40.850641
  38     40.826580
  39     40.821986
  40     40.819014
  41     40.871371
  42     40.862966
  43     40.834284
  44     40.829774
  45     40.884561
  267    40.831428
  268    40.824780
  269    40.843826
  270    40.848842
  297    40.852723
  298    40.865788
  299    40.870392
  Name: lat, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 0      40.894705
  1      40.874294
  2      40.887556
  3      40.895437
  4      40.890834
  5      40.881687
  7      40.898273
  8      40.877224
  9      40.881039
  10     40.866858
  11     40.857413
  12     40.847247
  13     40.870185
  14     40.855727
  15     40.847898
  16     40.860997
  17     40.842696
  18     40.839475
  19     40.836623
  20     40.819754
  21     40.806239
  22     40.801664
  23     40.815099
  24     40.809730
  25     40.823592
  26     40.821012
  27     40.806551
  28     40.815109
  29     40.844246
  30     40.837938
  31     40.840619
  32     40.843608
  33     40.847549
  34     40.857277
  35     40.881395
  36     40.908543
  37     40.850641
  38     40.826580
  39     40.821986
  40     40.819014
  41     40.871371
  42     40.862966
  43     40.834284
  44     40.829774
  45     40.884561
  267    40.831428
  268    40.824780
  269    40.843826
  270    40.848842
  297    40.852723
  298    40.865788
  299    40.870392
  Name: lat, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.min of 0     -73.847201
  1     -73.829939
  2     -73.827806
  3     -73.905643
  4     -73.912585
  5     -73.902818
  7     -73.867315
  8     -73.879391
  9     -73.857446
  10    -73.835798
  11    -73.854756
  12    -73.786488
  13    -73.885512
  14    -73.910416
  15    -73.919672
  16    -73.896427
  17    -73.887356
  18    -73.877745
  19    -73.926102
  20    -73.909422
  21    -73.916100
  22    -73.913221
  23    -73.895788
  24    -73.883315
  25    -73.901506
  26    -73.865746
  27    -73.854144
  28    -73.816350
  29    -73.824099
  30    -73.856003
  31    -73.842194
  32    -73.866299
  33    -73.850402
  34    -73.888452
  35    -73.917190
  36    -73.904531
  37    -73.832074
  38    -73.826203
  39    -73.813885
  40    -73.848027
  41    -73.863324
  42    -73.841612
  43    -73.915589
  44    -73.850535
  45    -73.848083
  267   -73.901199
  268   -73.915847
  269   -73.916556
  270   -73.908299
  297   -73.861726
  298   -73.859319
  299   -73.901523
  Name: long, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 0     -73.847201
  1     -73.829939
  2     -73.827806
  3     -73.905643
  4     -73.912585
  5     -73.902818
  7     -73.867315
  8     -73.879391
  9     -73.857446
  10    -73.835798
  11    -73.854756
  12    -73.786488
  13    -73.885512
  14    -73.910416
  15    -73.919672
  16    -73.896427
  17    -73.887356
  18    -73.877745
  19    -73.926102
  20    -73.909422
  21    -73.916100
  22    -73.913221
  23    -73.895788
  24    -73.883315
  25    -73.901506
  26    -73.865746
  27    -73.854144
  28    -73.816350
  29    -73.824099
  30    -73.856003
  31    -73.842194
  32    -73.866299
  33    -73.850402
  34    -73.888452
  35    -73.917190
  36    -73.904531
  37    -73.832074
  38    -73.826203
  39    -73.813885
  40    -73.848027
  41    -73.863324
  42    -73.841612
  43    -73.915589
  44    -73.850535
  45    -73.848083
  267   -73.901199
  268   -73.915847
  269   -73.916556
  270   -73.908299
  297   -73.861726
  298   -73.859319
  299   -73.901523
  Name: long, dtype: float64>],
 'queens': [<bound method NDFrame._add_numeric_operations.<locals>.min of 129    40.768509
  130    40.746349
  131    40.751981
  132    40.744049
  133    40.654225
           ...
  290    40.716415
  294    40.790602
  302    40.587338
  303    40.611322
  304    40.756091
  Name: lat, Length: 81, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 129    40.768509
  130    40.746349
  131    40.751981
  132    40.744049
  133    40.654225
           ...
  290    40.716415
  294    40.790602
  302    40.587338
  303    40.611322
  304    40.756091
  Name: lat, Length: 81, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.min of 129   -73.915654
  130   -73.901842
  131   -73.882821
  132   -73.881656
  133   -73.838138
           ...
  290   -73.881143
  294   -73.826678
  302   -73.805530
  303   -73.765968
  304   -73.945631
  Name: long, Length: 81, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 129   -73.915654
  130   -73.901842
  131   -73.882821
  132   -73.881656
  133   -73.838138
           ...
  290   -73.881143
  294   -73.826678
  302   -73.805530
  303   -73.765968
  304   -73.945631
  Name: long, Length: 81, dtype: float64>],
 'staten_island': [<bound method NDFrame._add_numeric_operations.<locals>.min of 197    40.644982
  198    40.640615
  199    40.626928
  200    40.615305
  201    40.631879
           ...
  287    40.579119
  291    40.526264
  292    40.576506
  293    40.519541
  305    40.617311
  Name: lat, Length: 63, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 197    40.644982
  198    40.640615
  199    40.626928
  200    40.615305
  201    40.631879
           ...
  287    40.579119
  291    40.526264
  292    40.576506
  293    40.519541
  305    40.617311
  Name: lat, Length: 63, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.min of 197   -74.079353
  198   -74.087017
  199   -74.077902
  200   -74.069805
  201   -74.107182
           ...
  287   -74.127272
  291   -74.201526
  292   -74.137927
  293   -74.229571
  305   -74.081740
  Name: long, Length: 63, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 197   -74.079353
  198   -74.087017
  199   -74.077902
  200   -74.069805
  201   -74.107182
           ...
  287   -74.127272
  291   -74.201526
  292   -74.137927
  293   -74.229571
  305   -74.081740
  Name: long, Length: 63, dtype: float64>],
 'manhattan': [<bound method NDFrame._add_numeric_operations.<locals>.min of 6      40.876551
  100    40.715618
  101    40.851903
  102    40.867684
  103    40.823604
  104    40.816934
  105    40.815976
  106    40.792249
  107    40.775639
  108    40.775930
  109    40.768113
  110    40.762160
  111    40.787658
  112    40.773529
  113    40.759101
  114    40.754691
  115    40.748303
  116    40.744035
  117    40.726933
  118    40.727847
  119    40.717807
  120    40.721522
  121    40.719324
  122    40.722184
  123    40.734434
  124    40.797307
  125    40.808000
  126    40.737210
  127    40.711932
  128    40.707107
  247    40.782683
  248    40.723259
  249    40.715229
  250    40.748510
  271    40.760280
  273    40.752042
  274    40.746917
  275    40.731000
  276    40.739673
  301    40.756658
  Name: lat, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 6      40.876551
  100    40.715618
  101    40.851903
  102    40.867684
  103    40.823604
  104    40.816934
  105    40.815976
  106    40.792249
  107    40.775639
  108    40.775930
  109    40.768113
  110    40.762160
  111    40.787658
  112    40.773529
  113    40.759101
  114    40.754691
  115    40.748303
  116    40.744035
  117    40.726933
  118    40.727847
  119    40.717807
  120    40.721522
  121    40.719324
  122    40.722184
  123    40.734434
  124    40.797307
  125    40.808000
  126    40.737210
  127    40.711932
  128    40.707107
  247    40.782683
  248    40.723259
  249    40.715229
  250    40.748510
  271    40.760280
  273    40.752042
  274    40.746917
  275    40.731000
  276    40.739673
  301    40.756658
  Name: lat, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.min of 6     -73.910660
  100   -73.994279
  101   -73.936900
  102   -73.921210
  103   -73.949688
  104   -73.957385
  105   -73.943211
  106   -73.944182
  107   -73.960508
  108   -73.947118
  109   -73.958860
  110   -73.949168
  111   -73.977059
  112   -73.985338
  113   -73.996119
  114   -73.981669
  115   -73.978332
  116   -74.003116
  117   -73.999914
  118   -73.982226
  119   -73.980890
  120   -74.010683
  121   -73.997305
  122   -74.000657
  123   -74.006180
  124   -73.964286
  125   -73.963896
  126   -73.981376
  127   -74.016869
  128   -74.010665
  247   -73.953256
  248   -73.988434
  249   -74.005415
  250   -73.988713
  271   -73.963556
  273   -73.967708
  274   -73.971219
  275   -73.974052
  276   -73.990947
  301   -74.000111
  Name: long, dtype: float64>,
  <bound method NDFrame._add_numeric_operations.<locals>.max of 6     -73.910660
  100   -73.994279
  101   -73.936900
  102   -73.921210
  103   -73.949688
  104   -73.957385
  105   -73.943211
  106   -73.944182
  107   -73.960508
  108   -73.947118
  109   -73.958860
  110   -73.949168
  111   -73.977059
  112   -73.985338
  113   -73.996119
  114   -73.981669
  115   -73.978332
  116   -74.003116
  117   -73.999914
  118   -73.982226
  119   -73.980890
  120   -74.010683
  121   -73.997305
  122   -74.000657
  123   -74.006180
  124   -73.964286
  125   -73.963896
  126   -73.981376
  127   -74.016869
  128   -74.010665
  247   -73.953256
  248   -73.988434
  249   -74.005415
  250   -73.988713
  271   -73.963556
  273   -73.967708
  274   -73.971219
  275   -73.974052
  276   -73.990947
  301   -74.000111
  Name: long, dtype: float64>]}

In [29]:
for i in bboxs:
    print(i)

brooklyn
bronx
queens
staten_island
manhattan

In [23]:
# display(geo_df.loc[(geo_df['lat'] >= 40.662) & (geo_df['lat'] <= 40.669) | (geo_df['long'] >= -73.941) & (geo_df['long'] <= -73.950)])

      borough         neighborhood        lat       long
60   Brooklyn          Brownsville  40.663950 -73.910235
148    Queens     South Ozone Park  40.668550 -73.809865
167    Queens  Springfield Gardens  40.666230 -73.760421
187    Queens           Lindenwood  40.663918 -73.849638
188    Queens            Laurelton  40.667884 -73.740256
260  Brooklyn             New Lots  40.662744 -73.885118

In [25]:
# geo_df['Brooklyn']

---
#### Data Visualization

In [17]:
import matplotlib.pyplot as plt