In [152]:
import pandas as pd
import numpy as np
import requests
import json
import re

In [ ]:

def getNearbyVenues(names, latitudes, longitudes, radius=1500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

#### Parse 'nyc_geo.json' into Dataframe

In [153]:
f = open('../data/nyc_geo.json')
data = json.load(f)

In [154]:
bk_neighboorhoods = {}

In [155]:
# will parse only brooklyn to reduce scope of project
count = 0 
for i in data['features']:
        bk_neighboorhoods[count] = { 
                                                      'latitude': i['geometry']['coordinates'][1],
                                                      'longitude': i['geometry']['coordinates'][0],
                                                      'neighborhood': i['properties']['name']
                                                     }
        count += 1

In [156]:
df = pd.DataFrame.from_dict(bk_neighboorhoods).T

In [158]:
df['latitude'] = pd.to_numeric(df['latitude'])

In [160]:
def neighborhood_classifier(lat):
    # print(lat)
    neighbor = df[df['latitude'] < lat]['latitude'].idxmax()
    return df.iloc[neighbor]['neighborhood']

---

#### Loading brooklyn housing data

In [161]:
housing_df = pd.read_csv('../data/nyc_housing_prices_jul_2020.csv')
brooklyn_housing_data = housing_df[housing_df['borough'] == 'brooklyn']
brooklyn_housing_data.shape

(22, 6)

In [162]:
brooklyn_housing_data.rename(columns={'neigborhood': 'neighborhood'}, inplace=True)

C:\Users\Cspes\AppData\Local\Temp\ipykernel_20144\3380385555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  brooklyn_housing_data.rename(columns={'neigborhood': 'neighborhood'}, inplace=True)

In [163]:
merged_df = df.merge(brooklyn_housing_data, how='inner', on='neighborhood')

In [164]:
merged_df.shape

(18, 8)

---

#### Google places API data (restaurants)

In [8]:
API_KEY = 'AIzaSyDIR1htuqa4Pctefq6f7JpH3--bmm5dZHg'

In [9]:
resp = requests.get(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=40.730201%2C-73.954241&radius=1500&type=restaurant&key={API_KEY}')

In [10]:
len(resp.json()['results'])

20

In [11]:
def get_restaruant_count(lat, long):
    resp = requests.get(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{long}&radius=1500&type=restaurant&key={API_KEY}')
    return len(resp.json()['results'])

In [12]:
df['restaruant_count'] = df.apply(lambda x: get_restaruant_count(x.latitude, x.longitude), axis=1)

#### Squirrel Data

In [309]:
squirrel_df = pd.read_csv('../data/extra/2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')

In [310]:
# squirrel_df = squirrel_df[['X', 'Y', 'Shift', 'Age', 'Primary Fur Color', 'Location', 'Lat/Long']]

In [319]:
squirrel_df.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long', 'Zip Codes', 'Community Districts',
       'Borough Boundaries', 'City Council Districts', 'Police Precincts'],
      dtype='object')

In [322]:
sdf = squirrel_df.drop(['Unique Squirrel ID', 'Hectare', 'Date', 'Highlight Fur Color','Above Ground Sighter Measurement',
       'Specific Location', 'Combination of Primary and Highlight Color', 'Color notes', 'Zip Codes', 'Community Districts',
       'Borough Boundaries', 'City Council Districts', 'Police Precincts'], axis=1)

In [323]:
sdf.columns

Index(['X', 'Y', 'Shift', 'Hectare Squirrel Number', 'Age',
       'Primary Fur Color', 'Location', 'Running', 'Chasing', 'Climbing',
       'Eating', 'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans',
       'Tail flags', 'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

In [ ]:
sfd.drop([''])

-------------------------------------

In [306]:
# squirrel_df['neighborhood'] = squirrel_df.apply(lambda x: neighborhood_classifier(x.Y), axis=1)

In [307]:
type(squirrel_df.iloc[0].X)

numpy.float64

#### RideShare Data

In [22]:
rideshare = pd.read_csv('other-Lyft_B02510.csv')
# rideshare.dropna(inplace=True)
# rideshare.head(2)
# rideshare = rideshare[['start_lat', 'start_lng']]

In [23]:
rideshare.head()

      time_of_trip  start_lat  start_lng Unnamed: 3
0    9/4/2014 9:51   40.64705  -73.77988        NaN
1  8/27/2014 21:13   40.74916  -73.98373        NaN
2   9/4/2014 14:16   40.64065  -73.97594        NaN
3   9/4/2014 16:08   40.75002  -73.99514        NaN
4   8/28/2014 2:41   40.76715  -73.98636        NaN

In [24]:
rideshare = rideshare[rideshare['start_lat'] < 40.908542]
rideshare = rideshare[rideshare['start_lat'] > 40.505333]

In [25]:
rideshare['start_lat'] = pd.to_numeric(rideshare.start_lat)

In [26]:
rideshare.dtypes

time_of_trip     object
start_lat       float64
start_lng       float64
Unnamed: 3       object
dtype: object

In [27]:
rideshare['neighborhood'] = rideshare.apply(lambda x: neighborhood_classifier(x.start_lat), axis=1)

In [28]:
rideshare

           time_of_trip  start_lat  start_lng Unnamed: 3         neighborhood
0         9/4/2014 9:51   40.64705  -73.77988        NaN  Prospect Park South
1       8/27/2014 21:13   40.74916  -73.98373        NaN        Midtown South
2        9/4/2014 14:16   40.64065  -73.97594        NaN         New Brighton
3        9/4/2014 16:08   40.75002  -73.99514        NaN            Glen Oaks
4        8/28/2014 2:41   40.76715  -73.98636        NaN           Douglaston
...                 ...        ...        ...        ...                  ...
267696    9/7/2014 3:19   40.71931  -73.99138        NaN       Queens Village
267697    9/7/2014 2:59   40.73868  -73.98862        NaN           Blissville
267698    9/7/2014 1:55   40.71554  -73.94877        NaN         Civic Center
267699   9/5/2014 23:26   40.74667  -73.97445        NaN             Woodside
267700   9/6/2014 22:19   40.74393  -73.78011        NaN        Hunters Point

[267661 rows x 5 columns]

In [29]:
ride_count = pd.DataFrame(rideshare.neighborhood.value_counts())
ride_count.reset_index(inplace=True)
ride_count.rename(columns={'neighborhood': 'ride_count'}, inplace=True)
ride_count.rename(columns={'index': 'neighborhood'}, inplace=True)

---

#### Air Quality Data

In [186]:
air_df = pd.read_csv('../data/extra/Air_Quality.csv')

In [187]:
air_df

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,216498,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2013,06/01/2013,34.64,NaN
1,216499,386,Ozone (O3),Mean,ppb,CD,313,Coney Island (CD13),Summer 2014,06/01/2014,33.22,NaN
2,219969,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2013,06/01/2013,31.25,NaN
3,219970,386,Ozone (O3),Mean,ppb,Borough,1,Bronx,Summer 2014,06/01/2014,31.15,NaN
4,164876,383,Sulfur Dioxide (SO2),Mean,ppb,CD,211,Morris Park and Bronxdale (CD11),Winter 2008-09,12/01/2008,5.89,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16117,671118,386,Ozone (O3),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2020,06/01/2020,28.70,NaN
16118,671119,386,Ozone (O3),Mean,ppb,CD,305,East New York and Starrett City (CD5),Summer 2020,06/01/2020,29.56,NaN
16119,671120,386,Ozone (O3),Mean,ppb,CD,304,Bushwick (CD4),Summer 2020,06/01/2020,29.65,NaN
16120,671121,386,Ozone (O3),Mean,ppb,CD,303,Bedford Stuyvesant (CD3),Summer 2020,06/01/2020,29.28,NaN
16121,671122,386,Ozone (O3),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Summer 2020,06/01/2020,28.93,NaN

In [189]:
air_df['Start_Date'] = pd.to_datetime(air_df['Start_Date'])

In [192]:
air_df = air_df[air_df['Start_Date'] > '2020-05-01']

In [195]:
air_df.Name.value_counts()

Ozone (O3)                         141
Nitrogen Dioxide (NO2)             141
Fine Particulate Matter (PM2.5)    141
Name: Name, dtype: int64

In [197]:
m

     latitude  longitude   neighborhood
0   40.625801 -74.030621      Bay Ridge
1   40.611009  -73.99518    Bensonhurst
2   40.645103 -74.010316    Sunset Park
3   40.730201 -73.954241     Greenpoint
4   40.595260 -73.973471      Gravesend
..        ...        ...            ...
65  40.703176 -73.988753          Dumbo
66  40.598525 -73.959185      Homecrest
67  40.681999 -73.890346  Highland Park
68  40.609378 -73.948415        Madison
69  40.646926 -73.948177        Erasmus

[70 rows x 3 columns]

In [196]:
air_df

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
13772,670936,386,Ozone (O3),Mean,ppb,UHF34,102,Northeast Bronx,Summer 2020,2020-06-01,30.85,NaN
13961,670937,386,Ozone (O3),Mean,ppb,UHF34,101,Kingsbridge - Riverdale,Summer 2020,2020-06-01,28.49,NaN
15139,667029,375,Nitrogen Dioxide (NO2),Mean,ppb,Borough,1,Bronx,Summer 2020,2020-06-01,13.16,NaN
15142,667035,375,Nitrogen Dioxide (NO2),Mean,ppb,Borough,2,Brooklyn,Summer 2020,2020-06-01,10.82,NaN
15145,667041,375,Nitrogen Dioxide (NO2),Mean,ppb,Borough,3,Manhattan,Summer 2020,2020-06-01,15.97,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
16117,671118,386,Ozone (O3),Mean,ppb,CD,306,Park Slope and Carroll Gardens (CD6),Summer 2020,2020-06-01,28.70,NaN
16118,671119,386,Ozone (O3),Mean,ppb,CD,305,East New York and Starrett City (CD5),Summer 2020,2020-06-01,29.56,NaN
16119,671120,386,Ozone (O3),Mean,ppb,CD,304,Bushwick (CD4),Summer 2020,2020-06-01,29.65,NaN
16120,671121,386,Ozone (O3),Mean,ppb,CD,303,Bedford Stuyvesant (CD3),Summer 2020,2020-06-01,29.28,NaN
16121,671122,386,Ozone (O3),Mean,ppb,CD,302,Fort Greene and Brooklyn Heights (CD2),Summer 2020,2020-06-01,28.93,NaN

#### Merged DF

In [30]:
## Add ride count per neighborhood from rideshare api
# new_df = merged_df.merge(ride_count, how='inner', on='neighborhood')

In [165]:
merged_df.isnull().sum()

latitude        0
longitude       0
neighborhood    0
borough         0
studio          0
1_bedroom       0
2_bedroom       0
3_bedroom       0
dtype: int64

In [167]:
merged_df = merged_df.drop(index=df.iloc[11].name)

In [141]:
def remove_chars(s):
    return re.sub('[^0-9]+', '', s)

In [169]:
# Remove non-numeric
merged_df['studio'] = merged_df['studio'].apply(remove_chars)
merged_df['1_bedroom'] = merged_df['1_bedroom'].apply(remove_chars)
merged_df['2_bedroom'] = merged_df['2_bedroom'].apply(remove_chars)
merged_df['3_bedroom'] = merged_df['3_bedroom'].apply(remove_chars)

In [170]:
# convert to numeric
merged_df['studio'] = pd.to_numeric(merged_df['studio'])
merged_df['1_bedroom'] = pd.to_numeric(merged_df['1_bedroom'])
merged_df['2_bedroom'] = pd.to_numeric(merged_df['2_bedroom'])
merged_df['3_bedroom'] = pd.to_numeric(merged_df['3_bedroom'])

In [171]:
merged_df

,latitude,longitude,neighborhood,borough,studio,1_bedroom,2_bedroom,3_bedroom
0,40.645103,-74.010316,Sunset Park,brooklyn,1400,1912,2300,2500
1,40.730201,-73.954241,Greenpoint,brooklyn,2347,2812,3708,5278
2,40.670829,-73.943291,Crown Heights,brooklyn,1806,2310,2582,3185
3,40.642382,-73.980421,Kensington,brooklyn,1724,1866,2925,3215
4,40.656946,-73.980073,Windsor Terrace,brooklyn,1939,2563,2877,3679
5,40.676822,-73.964859,Prospect Heights,brooklyn,2393,2823,3621,4320
6,40.707144,-73.958115,Williamsburg,brooklyn,2712,3166,4043,5081
7,40.698116,-73.925258,Bushwick,brooklyn,2050,2373,2749,2851
8,40.695864,-73.993782,Brooklyn Heights,brooklyn,2509,3270,5983,8654
9,40.687920,-73.998561,Cobble Hill,brooklyn,2100,2734,4222,6122
10,40.680540,-73.994654,Carroll Gardens,brooklyn,2271,2634,3914,5027
12,40.673931,-73.994441,Gowanus,brooklyn,2293,2796,3588,3687
13,40.688527,-73.972906,Fort Greene,brooklyn,2957,2508,4213,6760
14,40.672321,-73.97705,Park Slope,brooklyn,2795,2739,3422,4883
15,40.693229,-73.967843,Clinton Hill,brooklyn,2409,2776,3450,4204
16,40.685683,-73.983748,Boerum Hill,brooklyn,2092,2854,4356,4921
17,40.658420,-73.954899,Prospect Lefferts Gardens,brooklyn,1933,2094,2911,3423

In [178]:
df = merged_df[['studio', '1_bedroom', '2_bedroom', '3_bedroom']]

Modeling

In [184]:
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [180]:
scaler = StandardScaler()
scaled_simple = pd.DataFrame(scaler.fit_transform(df))

In [182]:
scaled_simple.columns = df.columns

In [185]:
scaled_simple.head(2)

     studio  1_bedroom  2_bedroom  3_bedroom
0 -2.095307  -1.817016  -1.506858  -1.367827
1  0.326254   0.553813   0.150381   0.462635

In [186]:
# model = KMeans(3,
#               n_init=20)
# y_pred = model.fit_predict(scaled_simple)

# Something

In [1]:
#git

In [2]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [3]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Name']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
neighborhoods_venues_sorted = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted['Name'] = manhattan_grouped['Name']

for ind in np.arange(manhattan_grouped.shape[0]):
    neighborhoods_venues_sorted.iloc[ind, 1:] = return_most_common_venues(manhattan_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted.head()

NameError: name 'np' is not defined