In [23]:
import pandas as pd
import requests
import json

#### Parse 'nyc_geo.json' into Dataframe

In [24]:
f = open('../data/nyc_geo.json')
data = json.load(f)

In [25]:
bk_neighboorhoods = {}

In [26]:
# will parse only brooklyn to reduce scope of project
for i in data['features']:
    if i['properties']['borough'] == 'Brooklyn':
        bk_neighboorhoods[i['properties']['name']] = { 
                                                      'latitude': i['geometry']['coordinates'][1],
                                                      'longitude': i['geometry']['coordinates'][0],
                                                     }

In [27]:
df = pd.DataFrame.from_dict(bk_neighboorhoods).T

In [28]:
df.head()

              latitude  longitude
Bay Ridge    40.625801 -74.030621
Bensonhurst  40.611009 -73.995180
Sunset Park  40.645103 -74.010316
Greenpoint   40.730201 -73.954241
Gravesend    40.595260 -73.973471

---

#### Loading brooklyn housing data

In [29]:
housing_df = pd.read_csv('../data/nyc_housing_prices_jul_2020.csv')
brooklyn_housing_data = housing_df[housing_df['borough'] == 'brooklyn']
brooklyn_housing_data.head(2)

     borough         neigborhood  studio 1_bedroom 2_bedroom 3_bedroom
33  brooklyn  Bedford-Stuyvesant  $2,044    $2,297    $2,611    $3,214
34  brooklyn         Boerum Hill  $2,092    $2,854    $4,356    $4,921

---

#### Google places API data (restaurants)

In [30]:
API_KEY = 'AIzaSyDIR1htuqa4Pctefq6f7JpH3--bmm5dZHg'

In [31]:
resp = requests.get(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=40.730201%2C-73.954241&radius=1500&type=restaurant&key={API_KEY}')

In [32]:
len(resp.json()['results'])

20

In [34]:
def get_restaruant_count(lat, long):
    resp = requests.get(f'https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{long}&radius=1500&type=restaurant&key={API_KEY}')
    return len(resp.json()['results'])

In [35]:
df['restaruant_count'] = df.apply(lambda x: get_restaruant_count(x.latitude, x.longitude), axis=1)

In [36]:
df.restaruant_count.value_counts()

20    68
13     1
17     1
Name: restaruant_count, dtype: int64